
$colores: (
	banners: linear-gradient(45deg, #9FC771, #fff, #9FC771),
	fondo: #9FC771
);

* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}


@mixin grids-align-center {
	align-items: center;
	justify-content: center;
}
nav {
	background-image: map-get($colores, banners);
}

footer {
	background-image: map-get($colores, banners);
}
.nav-link {
	font-size: 15px;
	margin-left: 2px;
	margin-right: 0px;
	font-weight: bold;
	text-align: center;
}
.navbar-brand {
	margin-right: 2px;
	img {
		height: 80px;
		width: auto;
	}
}
.dropdown-item {
	background-color: map-get($colores, fondo);
}
.dropdown-menu {
	padding: 0;
	li {
		text-align: center;
	}
}
#navbarNavDropdown {
	align-items: center;
	justify-content: left;
	margin-left: 10px;
}
.img-index {
	max-width: 100%;
	height: auto;
}
.text-body-index-center {
	align-items: center;
	justify-content: space-around;
}
.text-quienessomos-center {
	text-align: center;
}
.container-fluid {
	@include grids-align-center;
}
.contactus-form {
	.btn-primary {
		background-color: map-get($colores, fondo);
		border: 0;
	}
}
.company-stuff {
	h5 {
		font-weight: bold;
	}
}
.card {
	width: 4fr;
}

.footer-titles {
	font-size: 1.25rem;

}
.hover-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	&:hover {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	&:focus {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	&:active {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

.especialidades-lista {
	ul {
		margin: 0;
		p {
			text-transform:uppercase;
		}
	}
}

.btn-turnos {
	text-transform: none;
	text-decoration: none;
	background-color:#9FC771;
}


@media (min-width: 768px) {
	.img-index {
		border-radius: 50%;
	}
	.img-quienessomos {
		max-width: 50%;
	}
	.nav-item {
		margin-left: 1rem;
	}

	.especialidades-lista {
		ul {
			margin: 1rem 0 1rem 0;
			
			p {
				text-transform:uppercase;
			}
		}
	}
}


@media (min-width: 992px) {
	.nav-link {
		font-size: 20px;
		margin: 3px;
		font-weight: bold;
		text-align: center;
	}
	footer {
		font-size: 15px;

	}
	#navbarNavDropdown {
		justify-content: center;
	}
}