
$colores: (
	banners: linear-gradient(45deg, #9FC771, #fff, #9FC771),
	fondo: #9FC771
);

* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}


@mixin grids-align-center {
	align-items: center;
	justify-content: center;
}
nav {
	background-image: map-get($colores, banners);
	height: 15vh;
}

footer {
	background-image: map-get($colores, banners);
	height: 30vh;
	margin-top: 2vh;
}
.nav-link {
	font-size: 15px;
	margin-left: 2px;
	margin-right: 0px;
	font-weight: bold;
	text-align: center;
}
.navbar-brand {
	margin-right: 2px;
	img {
		height: 80px;
		width: auto;
	}
}
.dropdown-item {
	background-color: map-get($colores, fondo);
}
.dropdown-menu {
	padding: 0;
	li {
		text-align: center;
	}
}
#navbarNavDropdown {
	align-items: center;
	justify-content: left;
	margin-left: 10px;
}
.img-index {
	max-width: 100%;
	height: auto;
}
.text-body-index-center {
	align-items: center;
	justify-content: space-around;
}
.text-quienessomos-center {
	text-align: center;
}
.container-fluid {
	@include grids-align-center;
}
.contactus-form {
	.btn-primary {
		background-color: map-get($colores, fondo);
		border: 0;
	}
}
.company-stuff {
	h5 {
		font-weight: bold;
	}
}
.card {
	width: 4fr;
}

.footer-titles {
	font-size: 1.25rem;

}
.hover-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	&:hover {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	&:focus {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	&:active {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

.especialidades-lista {
	ul {
		margin: 0;
		p {
			text-transform:uppercase;
		}
	}
}

.btn-turnos {
	text-transform: none;
	text-decoration: none;
	background-color:#9FC771;
}

.display__none {
	display: none;
}

.calendar {
	display: grid;
	padding: 20px 10px;
	background-color:#9FC771;
	border-radius: 3px;
	width: 25%;
	font-family: sans-serif;
	
}

.calendar__header {
	font-weight: bold;
	color: black;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.calendar .control {
	color: black;
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0 5px;
}

.grid__header, .grid__body{
	display: grid;
	grid-template-columns: repeat(7, 4fr);
}

.grid__header {
	color: black;
	margin-bottom: 20px;
	font-weight: bold;
}

.grid__body {
	grid-auto-rows: 40px;
	color: black;
	font-weight: bold;

}

.grid__cell {
	display:flex;
	justify-content: center;
	align-items: center;
}

.grid__cell--gd {
	cursor: pointer;
}

.grid__cell--selected {
	color: #1b1e22;
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: 0 0 0 2px #9FC771 inset;
}

.grid__cell--disable {
	color: #424649;
	opacity: 50%;
	cursor: not-allowed;
}

.seleccion_especialidad--title {
	display:block;
	padding-top: 10px;
}

.menu__opcion--especialidad{
	padding-top: 20px;
	padding-bottom: 20px;
	display:flex;
	justify-content:space-around;
	align-items: center;
	height: 50vh;

}

.seleccion_especialidad {
	opacity: 50%;
}


.menu__botones {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 10vh;

}	

.especialidad_seleccionada {
	opacity: 100%;
}

#menu__boton--ant{
	display:flex;
	justify-content: flex-end;
	

}

.menu__boton > button {
	background-color: #9FC771;
	border: 2px;
	padding: 10px;
	border-radius: 5%;
}

#menu__boton--sig{
	display:flex;
	justify-content: flex-start;
}

.menu__boton--disabled {
	opacity: 50%;
	pointer-events: none;
}

.menu__opcion--titulo {
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}

.menu__opcion--calendario {
	display: grid;
}

.menu__opcion--fecha{
	display: flex;
	justify-content: center;
	height: 70vh;
}

@media (min-width: 768px) {
	.img-index {
		border-radius: 50%;
	}
	.img-quienessomos {
		max-width: 50%;
	}
	.nav-item {
		margin-left: 1rem;
	}

	.especialidades-lista {
		ul {
			margin: 1rem 0 1rem 0;
			
			p {
				text-transform:uppercase;
			}
		}
	}
}


@media (min-width: 992px) {
	.nav-link {
		font-size: 20px;
		margin: 3px;
		font-weight: bold;
		text-align: center;
	}
	footer {
		font-size: 15px;

	}
	#navbarNavDropdown {
		justify-content: center;
	}

}